html {
  scroll-behavior: smooth;
}

.card {
    background-color: #242526;
}

.text-themed , .text-themed:hover {
    color: rgba(255,255,255,0.9);
}

/* Navbar */
.navbar{
    margin-top: 20px;
    position: absolute;
    z-index: 999;
    border-radius: 30px;
    top: 2%;
    left: 0;
    right: 0;
    background-color: #343a40!important;
    box-shadow: -2px 8px 40px -12px rgb(0 0 0 / 24%);
}

.navbar-brand{
    align-content: center;
    position: relative;
}
.navbar .navbar-nav a{
     color: white!important;
}

.navbar a.navbar-brand{
    color: white!important;
}
.navbar .nav-link{
    transition: 500ms;
         font-weight: 600;
}
.navbar .nav-link:hover{
     color: #007bff!important;
     transition: 500ms;
     text-shadow: #242526;

     transform: scale(0.96);
}

/* Header */

#particles-js {
    background: #1a222c!important;
    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-top: 6em;
}


.header {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


.header .site-title {
    font-size: 50px;
    display: block;
    line-height: 1;
    color: #fff;
    width: 100%;
}

.header .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px;
}


.header-icons {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-links {
    margin: 10px;
}

.header-links .link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
}


.down {
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 30px;
    cursor: pointer;
}


.down, .header-icons .icon {
    color: #fff;
    text-align: center;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#particles-js .particles-js-canvas-el {
    width: 100%!important;
    height: 100vh!important;
}

audio, canvas, video {
    display: inline-block;
}



/* Image */
.circle-image {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}



/* Footer */

section#footer{
    background-image: url(../img/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

footer {
    color: white;
}


/* Timeline */
.bg-themed {
    background-color: #343a40;
}
.timeline-body {
    position: relative;
    border-radius: 0 15px 15px 0;
    padding: 5px 0;
}

.timeline-body:after {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #007bff;
    position: absolute;
    left: -4px;
    top: 0;
}

.timeline-body .timeline-item:after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #007bff;
    background-color: #f8f9fa;
    position: absolute;
    left: -12px;
    top: 8px;
    z-index: 10;
}

.timeline-body .timeline-item {
    position: relative;
}

.timeline-body .timeline-item .content {
    margin: 40px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #343a40;
}

.timeline-body .timeline-item .content .date {
    margin-top: -5px;
    margin-bottom: 15px;
    color: #6c757d;
}

 .timeline-body .timeline-item:after {
    background-color: #17191a;
}



/* Responsiveness */

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) { 
    /* Header */
    #particles-js{
        padding-top: 6em;
    }

    
}



/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) { 
    /* Header */
    .header .site-title {
    margin: 0;
    font-size: 100px;
    }

    .header .site-description {
        font-size: 40px;
    }

    .header{
        margin-top: 40px;
    }
    .header-links .link {
        font-size: 20px;
    } }

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
    /*  */
    .project-image{
        margin-left: -120px;
    margin-top:-10px;
    height:220px;
    width:350px;
}

    #project-desc{
        padding-right:6rem;
    }

 }

 @media only screen and (max-width: 768px) { 
.project-image{
    display: none;
}

.project-image-mobile-section{
    display: block!important;
}

.project-image-mobile-section .project-image-mobile{
    height: 180px;
    width: 300px;
    border-radius: 8px;
    padding: 0px!important;
    z-index: 999;
    position: absolute;
    right: 8%;
}

.project.card{
    height: 420px;
}

.project.card div.text-themed{
    margin-top: 140px;
}

.projectcard-footer{
    display: block;
}
 }
/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
.project-image{
        margin-left: -120px;
    margin-top:-10px;
    height: 200px;
    width: 320px;
}

#project-desc{
    padding-right: 5rem;
}

 }

/* About */
section .about{
    background: #17191a;
}

 .timeline-body{
    color: rgba(255,255,255,0.9);
}



/* Projects */

section#projects{
    background-image: url('../img/projects-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

#projects{
    padding-top: 1px;
    margin-bottom: 2rem;
}

.user-projects {
    margin: 20px auto;
}

.project.card {
    border-radius: 15px;
    text-decoration: none !important;
    margin: 20px auto;
    transition: transform 400ms;
    
}

.project-image {
    border-radius: 12px;
    object-fit: cover;
}
.project.card:hover:not(.post) {
    transform: translateY(-8px);
    box-shadow: -2px 8px 40px -12px rgb(0 0 0 / 24%);
}

#project-tools .badge:hover:not(.post) {
    transform: scale(0.95);
    box-shadow: -2px 8px 40px -12px rgb(0 0 0 / 24%);
    background-color: #007bff;
    color: #17191a!important;
}

#project-tools .badge{
    transition: transform 400ms;
}


#project-buttons{
    align-self: center;
}

#project-buttons button{
    border-radius: 6px;
    margin-right: 0.5rem;
}


#project-buttons button:hover:not(.post) {
    transform: scale(0.95);
    box-shadow: -2px 8px 40px -12px rgb(0 0 0 / 24%);
    
}

#project-buttons button{
    transition: transform .5s;
}

.projectcard-footer.row{
    margin: 5px;
}

#project-name:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#project-name:hover:after { 
  width: 100%; 
  left: 0; 
}


/* Blog */

section#blog{
    background-image: url('../img/blog-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

#blog{
    padding-top: 1px;
    margin-bottom: 2rem;
}

.blogcard {
  background-color: #242526;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 1rem;
}
.blogcard-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.blogcard-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
}

.blogcard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 940px;
  margin: auto;
}


.tag {

  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
}

.blogcard-body h4 {
  margin: 10px 0;
}
.blogcard-body p {
  font-size: 14px;
  margin: 0 0 40px 0;
  font-weight: 500;
}
.blogcard .user {
  display: flex;
  margin-top: auto;
}
.blogcard .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.blogcard .user-info h5 {
  margin: 0;
}
.blogcard .user-info small {
  color: #888785;
}
.tag:hover{
    transform: scale(0.94);
    cursor: pointer;
    box-shadow: -2px 8px 40px -12px rgb(0 0 0 / 24%);
    background-color: #007bff;
    color: #17191a!important;
}

.tag{
    transition: 0.7s;
}
@media (max-width: 940px) {
  .blogcard-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}


/* BlogCard */

.blogcard{
    transition: 800ms;
}

.blogcard:hover:not(.post) {
    transform: translateY(-8px);
    box-shadow: -2px 8px 40px -12px rgb(0 0 0 / 24%);
}



/* Contact */

section#contact{
    background-image: url('../img/contact-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    
}

#contact{
    padding-top: 1px;
    margin-bottom: 2rem;
}


#contact .form{
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
    height: 600px;
}

#contact h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:white;
    border-bottom:3px solid #8787a0
}

#contact input, #contact textarea{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
    color: white!important;
}

#contact input:focus{
    border-bottom:2px solid white;
}

#contact p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:white;
}

#contact button{
    border-radius: 12px;
    transition:700ms;
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:white;
    cursor:pointer;
    transition:all .3s}

    #contact button:hover{
    background:#212529;
    color:#fff;
}

#contact span{
    margin:0 5px 0 15px;
}


.bot{content:'Hi';position:absolute;bottom:-15px;right:-20px;background:#50505a;color:#fff;width:320px;padding:16px 4px 16px 0;border-radius:6px;font-size:13px;box-shadow:10px 10px 40px -14px #000}
span{margin:0 5px 0 15px}













/* Chains */
.navbar{
    z-index: 999;
}
.chain1, .chain2{
    color: #fff;
    height: 60px;
    z-index: -999!important;
    margin-top: 2px;
    justify-content: space-between;
    position: absolute;
    bottom: 97%;
    
}

.chain1{
   right: 5%;
}

.chain2{
    left: 5%;
}

